<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue">Salary Employee</h1>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID No.</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{userInfo._id}}</td>
            <td>{{userInfo.fullName}}</td>
            <td>{{userInfo.email}}</td>
            <td>{{userInfo.mobile}}</td>
            <td>{{userInfo.salary}}$</td>
        </tr>
    </tbody>
</table>
